* {
  box-sizing: border-box;
}
body {
  background-color: var(--light);
  color: contrast-color(var(--light));
  max-width: 50dvw;
  margin-inline: auto;
}
a {
  color: var(--light);
  text-decoration: none;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-box-trim: trim-start;
  text-box-edge: cap alphabetic;
}
