* {
  box-sizing: border-box;
}
body {
  background-color: var(--light);
  color: contrast-color(var(--light));
  max-width: 50dvw;
  margin-inline: auto;
}
a {
  color: var(--light);
  text-decoration: none;
}
ul {
  list-style: none;
}
