/* .panel {
  background: if(
    media(prefers-color-scheme: dark): #222;
      style(--variant: highlight): yellow; else: white
  );
  color: if(media(prefers-color-scheme: dark): #FFF;);
} */

/* :root {
  --bg: light-dark(#fff, #000);
  --fg: light-dark(#000, #fff);
  color-scheme: light dark;
} */
/* body {
  background-color: var(--bg);
  color: var(--fg);
} */
