header h1 {
  text-align: center;
}

.stack-card {
  max-width: 90dvw;
}
.hero-secton {
  background: var(--navbg);
  color: contrast-color(var(--navbg));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius);
  padding: 150px 0;
  h2 {
    margin: 0;
    font-size: 80px;
  }
}

.stack {
  .stack__card {
    position: sticky;
    top: calc(sibling-index() * 40px);
    /* overflow: hidden; */

    background: var(--navbg);
    color: contrast-color(var(--navbg));
    border-radius: var(--border-radius);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    /* animation: stack 1s linear both; */
  }

  .stack__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 50px;
      margin: 0;
    }
    p {
      font-size: 18px;
    }
    a {
      color: var(--hotpink);
    }
  }
}

@keyframes stack {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0) scale(1);
  }
  35% {
    transform: translateY(100px) translateZ(-200px) rotateX(8deg) scale(0.92);
  }
  70% {
    transform: translateY(20px) translateZ(-120px) rotateX(2deg) scale(0.95);
  }
  100% {
    transform: translateY(0) translateZ(0) rotateX(0) scale(1);
  }
}
