*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logs {
  border: 1px solid red;
  width: 800px;
  margin: 20px auto;
  white-space: nowrap;
  overflow: hidden;
}

.logos-slide img {
  width: 150px;
}
