*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes infinit {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  border: 1px solid red;
  width: 100%;
  margin: 20px auto;
  white-space: nowrap;

  overflow: hidden;

  position: relative;
}
.logos::after {
  content: '';
  position: absolute;

  top: 0;
  left: 0;
  --_blur-size: 150px;
  --_transparent-start: 20%;
  --_transparent-end: calc(100% - var(--_transparent-start));

  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    red 0% calc(var(--_transparent-start) - var(--_blur-size)),
    transparent var(--_transparent-start) var(--_transparent-end),
    red calc(var(--_transparent-end) + var(--_blur-size)) 100%
  );
  z-index: 1;
}

/* .logos::before,
.logos::after {
  position: absolute;
  top: 0;
  content: '';
  width: 150px;
  height: 100%;
  z-index: 1;
}
.logos::before {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}
.logos::after {
  right: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 90%
  );
} */

.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
  animation: 9s infinit infinite linear;
}

.logos-slide img {
  width: 150px;
  margin: 0 20px;
  scroll-snap-align: start;
}

/* .logos-slide {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  scrollbar-width: none;
} */

/* scroll-snap-align: start; */

/* New Marquee Start */

.container {
  /* Size of the text elements */
  --s: 200px;
  /* Animation duration */
  --d: 25s;
  /* Number of visible elements */
  --n: 6;

  display: flex;
  overflow: hidden;
  /* Creates a fade effect at the edges */
  /* mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000); */
  mask: linear-gradient(90deg, #0000, #000 10% 90%, #0000);
}
.container:hover div {
  animation-play-state: paused;
}
.container div {
  width: var(--s);
  flex-shrink: 0;
  padding: 1rem 0;
  text-align: center;
  /* Defines the animation path */
  offset: shape(
    from calc(var(--s) / -2) 50%,
    hline by calc(sibling-count() * max(100% / var(--n), var(--s) + 1rem))
  );
  /* Sets up the animation */
  animation: marquee var(--d) linear infinite
    calc(-1 * sibling-index() * var(--d) / sibling-count());
}

@keyframes marquee {
  to {
    offset-distance: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .container div {
    animation: none;
    offset: auto;
  }
}
