*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes infinit {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  border: 1px solid red;
  width: 100%;
  margin: 20px auto;
  white-space: nowrap;
  overflow: hidden;
  padding: 20px 0;
  background-color: rgb(0, 0, 0);
  position: relative;
  isolation: isolate;
}
.logos::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  --_blur-size: 150px;
  --_transparent-start: 20%;
  --_transparent-end: calc(100% - var(--_transparent-start));

  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    red 0% calc(var(--_transparent-start) - var(--_blur-size)),
    transparent var(--_transparent-start) var(--_transparent-end),
    red calc(var(--_transparent-end) + var(--_blur-size)) 100%
  );
  z-index: 1;
}

/* .logos::before,
.logos::after {
  position: absolute;
  top: 0;
  content: '';
  width: 150px;
  height: 100%;
  z-index: 1;
}
.logos::before {
  left: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}
.logos::after {
  right: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 90%
  );
} */

.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
  animation: 9s infinit infinite linear;
}

.logos-slide img {
  width: 150px;
  margin: 0 20px;
}
