form ul {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 24px;
}

@supports (grid-template-columns: subgrid) {
  form ul li {
    grid-column: 1 /-1;
    display: grid;
    grid-template-columns: subgrid;
    /* display: contents; */
  }
}
@supports not (grid-template-columns: subgrid) {
  form ul li {
    display: contents;
  }
}

/* Easy way to use subgrid */
#my-form {
  margin-inline: 40px;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 1em;
  margin-bottom: 1em;
}
.field {
  grid-column: span 2;
  display: grid;
  grid-template-columns: subgrid;
  grid-column-gap: inherit;
  margin-bottom: inherit;
}
.button-area {
  grid-column: 2 / -1;
  display: grid;
  place-items: center;

  button {
    all: unset;
    background-color: tomato;
    padding: 8px 32px;
    border-radius: 8px;
    border: 2px solid red;
    cursor: pointer;
  }
}
