header.header {
  background-color: var(--navbg);
  border-radius: var(--border-radius);

  margin-bottom: 20px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /*  Convert to position:sticky and add transition 
      when a scroll occurs  */
  @container (not scroll-state(scrolled: none)) {
    position: sticky;
    top: 0;
    transition: translate 0.2s;
  }

  /* Hide when you scroll down */
  @container scroll-state(scrolled: bottom) {
    translate: 0 -100%;
  }

  /* Appear when you scroll back up */
  @container scroll-state(scrolled: top) {
    translate: 0 0;
  }

  .logo {
    margin: 0;
    color: var(--logo);
    line-height: 30px;
  }
  nav {
    ul {
      display: flex;
      gap: 15px;
      li {
        a {
          color: contrast-color(var(--navbg));
        }
      }
    }
  }
}
