header {
  background-color: var(--navbg);
  border-radius: var(--border-radius);

  margin-bottom: 20px;

  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    margin: 0;
    /* text-align: center; */
    background: var(--navbg);
    color: contrast-color(var(--navbg));
    /* font-size: 20px; */
    line-height: 30px;
  }
  nav {
    ul {
      /* padding: 20px; */
      display: flex;
      gap: 15px;
      li {
        a {
          color: contrast-color(var(--navbg));
        }
      }
    }
  }
}
