.card-layout {
  /* max-width: ; */
  display: flex;
  flex-direction: if(media(orientation: landscape): row; else: column);
  gap: 20px;
}

.card {
  border: 1px solid light-dark(#ccc, dimgray);
  border-radius: 0.75rem;
  padding: 1rem;
  text-align: center;
  background-color: light-dark(white, #3d3d3d);
  flex: 1;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }
}
