.stack {
  .stack__card {
    position: sticky;
    top: calc(sibling-index() * 20px);

    background: var(--navbg);
    color: contrast-color(var(--navbg));
    border-radius: var(--border-radius);
    margin-top: 20px;
    display: flex;
    gap: 20px;

    &:nth-of-type(even) {
      img {
        order: 1;
      }
      .stack__content {
        padding-inline-start: 30px;
      }
    }
  }

  .stack__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
      font-size: 32px;
      margin: 0;
    }
    p {
      font-size: 18px;
    }
    a {
      color: var(--hotpink);
    }
  }
}
