.slider {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  scrollbar-width: none;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-marker-group: after;

  &::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  .slider__item {
    flex: 0 0 100%;
    scroll-snap-align: center;
    &::scroll-marker {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: gray;
    }
    &::scroll-marker:target-current {
      background-color: red;
    }
  }
}

.card__content {
  margin-top: 20px;
}
