body {
  background-color: #fabf47;
  font-family: 'Mona Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  align-content: center;
  min-height: 90vh;
}
a {
  text-shadow: 0 2ex 0;
  color: #000;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  overflow: hidden;
  padding: 3px 0;
  line-height: 1;
  text-box-trim: both;
  text-box-edge: cap alphabetic;

  span {
    position: relative;
    display: inline-block;
    transition: all 0.6s;
  }
  &:hover {
    span {
      translate: 0 -2ex;
      transition-delay: calc(sibling-index() * 0.1s);
    }
  }
  /* &:not(:hover) {
    animation: down 0.3s forwards;
    animation-delay: calc(sibling-index() * 0.05s);
  }
  &:hover {
    span {
      animation: up 0.3s forwards;
      animation-delay: calc(sibling-index() * 0.1s);
    }
  } */
}
@keyframes up {
  100% {
    translate: 0 -2ex;
  }
}
@keyframes down {
  0% {
    translate: 0 -2ex;
  }
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
