* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes infinitslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.container {
  width: 100%;
  margin: 20px auto;
  /* border: 1px solid red; */
}
.logos {
  width: 100%;
  /* border: 2px solid #f50000; */
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  /* overflow: hidden; */
}
.logos-slide {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 10px;
  animation: 9s infinitslide infinite linear;
  & li {
    height: 200px;
    border: 1px solid green;
    display: grid;
    place-items: center;
    font-size: 32px;
    white-space: nowrap;
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}
