*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  gap: 1rem;
  margin: 30px;
}
.container {
  width: 400px;
  /* margin-inline: auto; */
  border: 2px solid red;
  padding: 30px;
}
.first li {
  font-size: 1rem;
  /* list-style-position: inside; */
  list-style-image: url('data:image/svg+xml,<svg transform="scale(.5) translate(0, 10)" transform-origin="center" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 496" xml:space="preserve"><circle style="fill:%23d10257" cx="248" cy="248" r="248"/><path style="fill:%23ff2970" d="M72.8 72.8c96.8-96.8 253.6-96.8 350.4 0s96.8 253.6 0 350.4"/><path style="fill:%23a8004c" d="M300 190.4c-32.8 0-52.8 29.6-52.8 77.6v2.4c-6.4-17.6-22.4-28.8-43.2-28.8-10.4 0-20 3.2-28 8.8 6.4-18.4 21.6-31.2 43.2-35.2 4.8-.8 9.6-.8 13.6-.8.8 0 4.8 0 5.6-.8s1.6-2.4 1.6-3.2v-16c0-.8-2.4-2.4-3.2-2.4-.8-.8-2.4-.8-4-.8-4.8 0-10.4 0-15.2.8-18.4 2.4-35.2 9.6-48 21.6-16 16-24.8 40-24.8 66.4 0 39.2 20.8 64 53.6 64 30.4 0 48-23.2 50.4-47.2C255.2 326.4 272 344 296 344c33.6 0 52.8-28.8 52.8-78.4 1.6-47.2-17.6-75.2-48.8-75.2M200 321.6c-16.8 0-26.4-13.6-27.2-36.8 0-2.4.8-4.8 1.6-6.4 4.8-9.6 14.4-15.2 24-15.2 16 0 25.6 10.4 25.6 28.8-.8 17.6-10.4 29.6-24 29.6m98.4 0c-15.2 0-24.8-20.8-24.8-53.6 0-33.6 9.6-55.2 24.8-55.2 21.6 0 24.8 33.6 24.8 53.6 0 20.8-3.2 55.2-24.8 55.2"/><path style="fill:%23fff" d="M300 171.2c-32.8 0-52.8 29.6-52.8 77.6v2.4c-6.4-17.6-22.4-28.8-43.2-28.8-10.4 0-20 3.2-28 8.8 6.4-18.4 21.6-31.2 43.2-35.2 4.8-.8 9.6-.8 13.6-.8.8 0 5.6 0 6.4-.8s.8-2.4.8-3.2v-16c0-.8-.8-2.4-1.6-3.2s-4-.8-4.8-.8c-4.8 0-10.4 0-15.2.8-18.4 2.4-35.2 9.6-48 21.6-16 16-24.8 40-24.8 66.4 0 39.2 20.8 64 53.6 64 30.4 0 48-23.2 50.4-47.2 6.4 29.6 23.2 47.2 47.2 47.2 33.6 0 52.8-28.8 52.8-78.4.8-46.4-18.4-74.4-49.6-74.4M200 302.4c-16.8 0-26.4-13.6-27.2-36.8 0-2.4.8-4.8 1.6-6.4 4.8-9.6 14.4-15.2 24-15.2 16 0 25.6 10.4 25.6 28.8-.8 17.6-10.4 29.6-24 29.6m98.4 0c-15.2 0-24.8-20.8-24.8-53.6 0-33.6 9.6-55.2 24.8-55.2 21.6 0 24.8 33.6 24.8 53.6 0 20.8-3.2 55.2-24.8 55.2"/></svg>');
  /* Use translate(X, Y) to position the SVG up, down, left, and right */
}
.first li::marker {
  font-size: 3rem;
  line-height: 1;
}
/*  */
ul.second {
  list-style: none;
  display: grid;
  gap: 1rem;

  li {
    display: grid;
    grid-template-columns: 0 1fr;
    gap: 1.75em;
    align-items: start;
    font-size: 1.5rem;
    line-height: 1.25;
  }
  li::before {
    content: attr(data-icon);
    /* Make slightly larger than the li font-size
  but smaller than the li gap */
    font-size: 1.25em;
  }
}
