* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1000px;
  margin: 20px auto;
  border: 1px solid red;
}

.logos {
  --content-gap: 40px;
  background-color: yellow;
  padding-block: 8px;

  display: flex;

  overflow: hidden;
  gap: var(--content-gap);
}

.logos-slide {
  flex: 0 0 100%;
  white-space: nowrap;
  animation: infinitslide-ltr 9s linear infinite;
}

[dir='rtl'] .logos-slide {
  animation: infinitslide-rtl 9s linear infinite;
}

@keyframes infinitslide-ltr {
  to {
    transform: translateX(calc(-100% - var(--content-gap)));
  }
}

@keyframes infinitslide-rtl {
  to {
    transform: translateX(calc(100% + var(--content-gap)));
  }
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}
